= simple_form_for [:admin_employee, @event, @attendee], method: :post, html: { class: 'form-inline d-flex' } do |f|
  = f.input_field :employee_id, label:false, as: :select, collection: Employee.filtered_by_company(current_user.actable), input_html: { class: 'form-control select2' }, class:  'flex-grow-1 select2'
  = f.button :button, class:'btn-primary border-radius-100px m-2' do
    | <i class='fas fa-plus'></i>

