/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #57bade;
$white: white;

$light-grey: #f9f9f9;
$dark-grey: #5E6476;
$black: black;
$green: green;
$red: red;
$blue: blue;
