<div class="banner banner-half-screen text-white d-flex text-center justify-content-center align-items-center" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url( <%= image_url "banner_blog.jpg" %>);">
  <div class="banner-content d-flex flex-column-reverse align-items-center justify-content-center">
    <h1><%= title %></h1>
  </div>
</div>

