<div class="wrapper-light-blue position-relative py-3 margin-negative-16px">
  <div class="wrapper wrapper-blue py-4 px-5 position-relative text-center">
    <%= image_tag  'home_picto/logo_white.png' , class: "position-absolute position-background-bird" %>
    <h2 class="my-4"><span class="quicksandlight"><%= title %></span> <%= title_span %></h2>
    <div class="my-4">
      <p class="m-auto mw-700px quicksandlight"><%= text %></p>
    </div>
  </div>
</div>
