<div class="d-flex justify-content-center align-items-center my-3">
  <%= link_to t('meta-url-fb'), target: "_blank", class: "link-no-decoration mx-1 d-flex align-items-center" do %>
    <div class="circle-icon button-border-white  d-flex align-items-center justify-content-around">
      <i class="fab fa-facebook-f"></i>
    </div>
  <% end %>
  <%= link_to t('meta-url-instagram'), target: "_blank", class: "link-no-decoration mx-1 d-flex align-items-center" do %>
    <div class="circle-icon button-border-white  d-flex align-items-center justify-content-around">
      <i class="fab fa-instagram"></i>
    </div>
  <% end %>
  <%= link_to t('meta-url-linkedin'), target: "_blank", class: "link-no-decoration mx-1 d-flex align-items-center" do %>
    <div class="circle-icon button-border-white  d-flex align-items-center justify-content-around">
      <i class="fab fa-linkedin-in"></i>
    </div>
  <% end %>
  <%= link_to t('twitter_account'), target: "_blank", class: "link-no-decoration mx-1 d-flex align-items-center" do %>
    <div class="circle-icon button-border-white  d-flex align-items-center justify-content-around">
      <i class="fab fa-twitter"></i>
    </div>
  <% end %>
  <a href="https://www.youtube.com/channel/UCG6DQQlzLGK_tz5I-9XdDRQ" target="_blank" class="link-no-decoration mx-1 d-flex align-items-center">
    <div class="circle-icon button-border-white d-flex align-items-center justify-content-around">
      <i class="fab fa-youtube"></i>
    </div>
  </a>
</div>


