<div class="banner banner-full-screen text-white d-flex text-center justify-content-center align-items-center" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url( <%= image_url "home_picto/banner.jpg" %>);">
  <div class="banner-content d-flex flex-column align-items-center justify-content-center">
    <h1 class='margin-bottom-15vh'>Le  Bien-être en Entreprise</h1>
    <%= link_to 'Demandez un devis', new_contact_path, class: 'font-weight-bold blue-button shadow' %>
  </div>
</div>
