<div class="wrapper-light-blue py-3 margin-negative-16px">
  <div class="wrapper wrapper-blue text-center px-4 py-5">
    <p class='h2'>Les Bénéfices de Zenest</p>
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-sm-6 px-3 mb-4">
          <div class="card-picto-small">
            <%= image_tag "home_picto/eclair.png", alt: 'Courbe de productivité' %>
            <p class='font-25px mb-2'>Pour l’entreprise</p>
            <div class="font-14px">
              <p class= "mb-1">Culture du bien-être</p>
              <p class= "mb-1">Accroissement de la productivité</p>
              <p class= "mb-1">Diminution du turnover</p>
              <p class= "mb-1">Réduction de l’absentéisme</p>
              <p class= "mb-1">Valorisation de l’image entreprise</p>
              <p class= "mb-1">Satisfaction client et partenaire</p>
              <p class= "mb-1">Levier de compétitivité</p>
              <p class="quicksandlight mt-2">1€ investi dans la prévention du stress par les entreprises revient à 13€ d'économies réalisées sur l’ensemble de la chaîne économique selon une enquête récente de l’agence européenne pour la sécurité et la santé au travail (EU-OSHA).</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 px-3">
          <div class="card-picto-small">
            <%= image_tag "home_picto/couple.png", alt: 'Salariés détendus' %>
            <p class='font-25px mb-2'>Pour les employés</p>
            <div class="font-14px">
              <p class= "mb-1">Augmentation du bien-être</p>
              <p class= "mb-1">Baisse du stress et des burn-outs</p>
              <p class= "mb-1">Améporation des conditions de travail</p>
              <p class= "mb-1">Augmentation de la créativité</p>
              <p class= "mb-1">Renforcement de la cohésion d’équipe</p>
              <p class= "mb-1">Sentiment d’appartenance</p>
              <p class= "mb-1">Motivation et performance</p>
              <p class="quicksandlight mt-2">La qualité de vie et la qualité de travail des employés a des répercussions immédiates et permet des milliards d’euros de PIB en plus, en raison du lien étroit entre productivité et bonheur des collaborateurs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
