<div class="wrapper-light-beige py-3 margin-p-0">
  <div class="wrapper wrapper-beige py-5 position-relative text-center">
    <%= image_tag 'home_picto/round_left6.png', class: "position-absolute position-circle-left-2", alt: 'Rond vert' %>
    <%= image_tag 'home_picto/round_right6.png', class: "position-absolute position-circle-right-2", alt: 'Rond jaune' %>
    <div class="container my-3 px-4">
  <!--     <%= image_tag 'home_pictures/zenest_blue.png', height: "50px", class: "text-center mb-5", alt: ' Zenest massage logo bleu' %> -->
      <p class="h2 text-primary px-2">Nos tarifs</p>
      <p class='font-20px letter-spacing mt-4 mb-0 text-dark'>Nos devis varient en fonction :</p>
      <ul class='mb-5 p-0 text-dark opacity-07 font-14px'>
        <li>Du nombre de participants</li>
        <li>De la durée de l’abonnement ZenPack (3/6/12 mois)</li>
        <li>De la récurrence des prestations (Hebdomadaire/Bimensuel/Mensuel)</li>
      </ul>
      <%= link_to 'Demandez un devis', new_contact_path, class: 'blue-button shadow' %>
      <p class ='mt-5 mb-3 font-20px text-shadow'>Tarif des séances individuelles :</p>
      <div class="row">
        <div class='mb-4 col-md-6'>
          <h4 class='font-20px text-dark'>Massage Assis (Amma)</h4>
          <div class="d-none d-sm-block text-dark opacity-07 font-14px">
            <p >ZenPack 3/6/12 mois entre <span class="text-primary font-25px">50€</span> et <span class="text-primary font-25px">59€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest : <span class="text-primary font-25px">60€</span> HT/h</p>
          </div>
          <div class="d-block d-sm-none text-dark opacity-07 font-14px">
            <p>ZenPack 3/6/12 mois </p>
            <p class="mb-1"> entre <span class="text-primary font-25px">50€</span> et <span class="text-primary font-25px">59€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest :</p>
            <p> <span class="text-primary font-25px">60€</span> HT/h</p>
          </div>
        </div>
        <div class='col-md-6 mb-4'>
          <h4 class='font-20px text-dark'>Massage sur table</h4>
          <div class="d-block d-sm-none text-dark opacity-07 font-14px">
            <p>ZenPack 3/6/12 mois</p>
            <p class="mb-1">entre <span class="text-primary font-25px">59€</span> et <span class="text-primary font-25px">78€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest :</p>
            <p><span class="text-primary font-25px">79€</span> HT/h</p>
          </div>
          <div class="d-none d-sm-block text-dark opacity-07 font-14px">
            <p>ZenPack 3/6/12 mois entre <span class="text-primary font-25px">59€</span> et <span class="text-primary font-25px">78€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest : <span class="text-primary font-25px">79€</span> HT/h</p>
          </div>
        </div>
        <div class='col-md-12 mb-4'>
          <h4 class='font-20px text-dark'>Massage sous réalité virtuelle (VR)</h4>
          <p class="text-dark opacity-07 font-14px">Devis sur demande</p>
        </div>
      </div>
      <div class="text-center">
        <p class='mb-3 font-20px text-shadow'>Tarif des ateliers collectifs :</p>
        <div class="mb-4">
          <h4 class='font-20px text-dark'>Automassage (Do In), Sophrologie, Méditation, Yoga, Pilate</h4>
          <div class="d-none d-sm-block text-dark opacity-07 font-14px">
            <p>ZenPack 3/6/12 mois entre <span class="text-primary font-25px">95€</span> et <span class="text-primary font-25px">179€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest : <span class="text-primary font-25px">180€</span> HT/h</p>
          </div>
          <div class="d-block d-sm-none text-dark opacity-07 font-14px">
            <p>ZenPack 3/6/12 mois</p>
            <p class="mb-1">entre <span class="text-primary font-25px">95€</span> et <span class="text-primary font-25px">179€</span> HT/h</p>
            <p>Possibilité de faire un ZenTest :</p>
            <p><span class="text-primary font-25px">180€</span> HT/h</p>
          </div>
        </div>
        <div class="px-2">
          <p class='quicksandlight text-dark font-14px mb-1'>La durée d’un massage sur chaise est d’environ 15 min/personne, la durée d’un massage sur table entre 30 et 60 min/personne, et celle d’un atelier collectif de 1h/groupe.</p>
          <p class='quicksandlight text-dark font-14px mb-1'>Nos tarifs incluent les frais de déplacement des praticiens ainsi que la mise à disposition, pour les ZenPacks, de notre outil de réservation en ligne.</p>
          <p class='quicksandlight text-dark font-14px mb-1'>Toutes nos prestations sont assurées par la Mutuelle Assurance MMA.</p>
        </div>
      </div>
    </div>
  </div>
</div>
