<div class="wrapper-light-beige py-3">
  <div class="wrapper wrapper-beige p-3 position-relative">
    <%= image_tag 'home_picto/round_left2.png', class: "position-absolute position-circle-left-2", alt: 'Rond bleu' %>
    <%= image_tag 'home_picto/round_right2.png', class: "position-absolute position-circle-right-2", alt: 'Rond bleu' %>
    <div class="blue-frame d-none d-sm-block">
      <div class="text-center video-frame">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KwfUFK7lu5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="d-sm-none p-4">
      <div class="text-center video-frame">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KwfUFK7lu5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
