<% content_for :meta_title, "Zenest.pro - Conditions Générales de Vente" %>
<% content_for(:robots) do %>
  <meta name="robots" content='noindex, nofollow'>
<% end %>
<%= render 'shared/banner_transition_blue' , title:"", title_span: "Conditions Générales de Vente", text: "au  1er septembre  2018" %>

<div class="container mt-4 text-justify quicksandlight">
  <section>
    <h3 class="ml-5">Article 1.  PRÉAMBULE </h3>
    <p>La société ZENEST propose aux entreprises des services, autour du bien-être et de la relaxation, adaptés à leurs besoins réalisés par des professionnels sélectionnés par ZENEST. </p>
    <p>ZENEST est une société par actions simplifiée au capital de 2.000 euros inscrite au registre du Commerce et des Sociétés de Paris sous le numéro 812 309 573 et dont le siège social est établi 5, rue de Bassano 75116 Paris.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 2. DÉFINITIONS</h3>
    <p>Conscient de l'importance du choix des mots, ZENEST a entendu donner la signification suivante à chacun des termes mentionnés ci-dessous : </p>
    <p><strong>Abonnement</strong> désigne la convention passée entre le CLIENT et ZENEST pour la fourniture des Services au CLIENT en contrepartie du règlement d'un prix forfaitaire</p>
    <p><strong>Bénéficiaire</strong> désigne le salarié, l'assimilé-salarié ou le client du CLIENT bénéficiaire des Services. </p>
    <p><strong>Devis</strong> désigne le devis des Services sélectionnés par le CLIENT renseignant son identité, ses coordonnées et les caractéristiques des Services validé, signé et retourné par le CLIENT à ZENEST. </p>
    <p><strong>Client</strong> désigne toute personne morale ayant souscrit à une Offre de Service auprès de ZENEST.</p>
    <p><strong>Conditions Générales</strong> désignent les présentes conditions générales de vente des services applicables à toute souscription d'une Offre de Service auprès de ZENEST. </p>
    <p><strong>Conditions Particulières</strong> désignent les conditions particulières éventuellement applicables à la fourniture de certains services.  </p>
    <p><strong>Informations Confidentielles</strong> désignent toutes les informations identifiées comme confidentielles par une Partie et transmise à l'autre Partie. </p>
    <p><strong>Jours Ouvrés</strong> désignent les jours pendant lesquels ZENEST exerce ses activités professionnelles de façon régulière, les week-end et jours fériés en France étant exclus.</p>
    <p><strong>Marque</strong> désigne la marque française semi-figurative "ZENEST" enregistrée sous le numéro 4239743 auprès de l'Institut National de la Propriété Industrielle le 1er décembre 2016.</p>
    <p><strong>Offre(s) de Service(s)</strong> désigne(nt) les offres de services ponctuelles ou annuelles proposées par ZENEST au CLIENT. </p>
    <p><strong>Partie(s)</strong> désigne(nt) ensemble ou séparément ZENEST et le CLIENT. </p>
    <p><strong>Prix</strong> désigne le prix du Service variant selon l'Offre de Service sélectionnée par le CLIENT et indiqué sur le Devis.</p>
    <p><strong>Praticien</strong> désigne un professionnel indépendant du massage avec lequel ZENEST a contracté un contrat de prestation de services.</p>
    <p><strong>Séance</strong> désigne une séance de massage, de gestion du stress, de yoga, de sophrologie, de méditation en pleine conscience ou de Do In. </p>
    <p><strong>Services</strong> désigne les services de massage (incluant le " Do In "), de gestion du stress, de yoga, de sophrologie et de méditation pleine conscience fournis par ZENEST au CLIENT.</p>
    <p><strong>Site Internet</strong>Site Internet désigne le site internet ZENEST accessible depuis l'url www.zenest.pro à partir duquel le CLIENT a la faculté de faire une demande d'Offre de service en ligne. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 3.  PRIORITÉ CONTRACTUELLE</h3>
    <p>Les relations contractuelles, entre ZENEST et le CLIENT, sont régies par les documents contractuels applicables, listés et classés par ordre hiérarchique de valeur juridique décroissante ci-dessous :</p>
    <ul>
      <li>1er rang : les Conditions Générales et ses annexes</li>
      <li>2ème rang : le cas échéant, les Conditions Particulières et ses annexes</li>
      <li>3ème rang : le Devis </li>
    </ul>
    <p>En cas de contradiction entre des documents de nature différente ou de rang différent, il est expressément convenu entre les Parties que les dispositions contenues dans le document de rang supérieur prévaudront pour les obligations se trouvant en conflit d'interprétation.</p>
    <p>Toute modification de l'un quelconque des documents mentionnés ci-dessus devra faire l'objet d'un avenant écrit et signé par les Parties. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 4. OBJET </h3>
    <p>Les Conditions Générales ont pour objet de fixer les modalités et conditions de fourniture des Services sélectionné par le CLIENT et de définir les droits et obligations des Parties dans ce cadre. Elles sont annexées au Devis. </p>
    <p>Elles expriment l'intégralité de l'accord des Parties et annulent et remplacent tout accord, lettre, offre ou autre document écrit ou oral antérieur ayant le même objet. Elles peuvent être complétées, le cas échéant, par des Conditions Particulières. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 5. ACCEPTATION DES CONDITIONS GÉNÉRALES</h3>
    <p>La signature du Devis auquel sont annexées les Conditions Générales manifeste l'acceptation préalable et expresse desdites Conditions Générales et exclut l'application de toutes dispositions différentes ou contraires pouvant figurer sur des documents commerciaux ou sur les conditions générales d'achat du CLIENT.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 6. COMMANDE</h3>
    <ul><li><strong>Passation et confirmation de la commande</strong></li></ul>
    <p>Le CLIENT passe commande pour la souscription d'un Abonnement ou la fourniture d'un Service ponctuel auprès de ZENEST en adressant une demande de devis sur le Site Internet, par téléphone au numéro indiqué sur le Site Internet ou par courriel électronique à  contact@zenest.com. Le CLIENT est tenu d'indiquer à ZENEST le Service sélectionné et une adresse électronique de contact. A réception de sa demande, ZENEST complète un Devis renseignant le type de Service, la durée et le tarif qui est adressé au CLIENT pour validation et signature.</p>
    <p>La commande est confirmée et définitive à réception du Devis par ZENEST lequel doit être signé et validé par le CLIENT par l'apposition de la mention "Bon pour Accord". Le Devis est réputé avoir été reçu à condition d'avoir été adressé à l'adresse électronique figurant sur celui-ci.</p>
    <p>Le CLIENT reconnaît et accepte expressément que l'adresse électronique renseignée pourra être utilisée dans le cadre de l'exécution des Services. A ce titre, il s'engage à fournir une adresse électronique valide et à consulter la boîte électronique correspondante pendant le temps de la fourniture des Services. Il accepte d'être seul responsable d'un défaut ou d'un retard dans l'exécution des Services dû à un défaut d'indication de son adresse électronique ou de consultation de la boîte électronique correspondante.</p>
    <p>Le CLIENT reconnaît et accepte que ZENEST ne sera pas en mesure de fournir les Services dans l'hypothèse où le Devis correspondant aurait été renseigné de manière incomplète ou inexacte par le CLIENT et/ou le Devis n'aurait pas été reçu par ZENEST et/ou le paiement de l'acompte n'aurait pas été effectué par le CLIENT. A ce titre, il est précisé que toute commande est acceptée en considération de la situation juridique, financière et matérielle du CLIENT. Il en résulte que ZENEST est fondée, le cas échéant, à exiger des garanties de paiement ou à résilier l'Abonnement sans indemnité quelle qu'elle soit, si ladite situation venait à être substantiellement modifiée entre la commande et la fourniture des Services. </p>
    <ul><li><strong>Modification et annulation de la commande à l'initiative du CLIENT</strong></li></ul>
    <p>Toute demande de modification ou d'annulation d'une commande déjà validée à l'initiative du CLIENT doit être formalisée par écrit et adressée à contact@zenest.com afin de pouvoir être traitée par ZENEST. </p>
    <p>En cas de demande d'annulation d'un Service ponctuel, ZENEST sera susceptible d'appliquer des pénalités à hauteur de 30 % du Prix lorsque la demande d'annulation est adressée moins de 24 heures avant la date prévue d'exécution du Service.</p>
    <p>Toute souscription d'Abonnement est irrévocable à compter du jour où elle est devenue valable et effective, et les sommes payées non remboursables et non soumises à compensation dans la mesure où le Client, agissant en tant que professionnel, a souscrit pour une durée déterminée. L'Abonnement sera toutefois susceptible d'être résiliée pour les causes stipulées à l'article 10. </p>
    <ul><li><strong>Modification et annulation de la commande l'initiative de ZENEST</strong></li></ul>
    <p>ZENEST se réserve le droit de modifier ou d'annuler une commande pour des raisons de force majeure ou en cas d'indisponibilité de l'ensemble de Praticiens sans que le CLIENT ne puisse prétendre à aucune indemnité. ZENEST s'engage à apporter la preuve de ce cas de force majeure ou de cette indisponibilité au CLIENT. </p>
    <p>ZENEST fera ses meilleurs efforts pour proposer une autre date et un autre horaire d'exécution du Service au CLIENT qui disposera d'un délai raisonnable pour accepter l'offre de remplacement sans que ZENEST ne puisse lui facturer de frais supplémentaire. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 7. CONDITIONS TARIFAIRES</h3>
    <p>Le Prix est déterminé par l'Offre de Services sélectionnée par le CLIENT et varie en fonction notamment du nombre de Bénéficiaires. Le Prix est indiqué sur le Devis. Il s'agit d'un montant net n'incluant pas les prélèvement présents ou futurs, notamment les retenues d'impôt, déductions, honoraires ou autres taxes payables dans leur intégralité et exprimés hors taxes. Le CLIENT doit supporter et payer tous les impôts et taxes sur la base ou découlant du Prix (y compris la TVA, droits de douane ou des retenues d'impôt). </p>
    <p>Le CLIENT reconnaît et accepte expressément que ZENEST se réserve le droit de modifier unilatéralement le Prix des Services étant précisé qu'en cas de modification postérieure au jour de la commande, seul le prix en vigueur à cette date et indiqué sur le Devis sera applicable. </p>
    <p>Pour une commande ponctuelle, le Prix est facturé postérieurement à l'exécution du Service sauf accord contraire entre ZENEST et le CLIENT et payable dans les trente (30) jours à compter de la réception de la facture par le CLIENT. </p>
    <p>En cas de souscription d'un Abonnement, le Prix des Services est facturé mensuellement selon les conditions stipulées sur le Devis et payable dans les trente (30) jours à compter de la réception de la facture par le CLIENT. </p>
    <p>Les factures qui ne sont pas contestées par lettre recommandée dans les dix (10) Jours Ouvrés à compter de leur réception sont considérées comme définitives et ne pourront plus être contestées. </p>
    <p>Les factures sont adressées par courrier électronique. Toutefois, si le CLIENT en fait la demande ZENEST adressera les factures demandées par courrier postal pour un coût supplémentaire de 3 euros hors taxe par facture.</p>
    <p>Le règlement doit être effectué par virement bancaire pour lequel les coordonnées bancaires de ZENEST sont indiquées en bas de chaque facture au CLIENT.</p>
    <p>Tout incident, défaut ou retard de paiement du Prix à l'échéance entraînera de plein droit l'application d'une indemnité forfaitaire pour frais de recouvrement d'un montant de quarante (40) euros et l'application d'intérêts de retard à compter du jour suivant la date de règlement rappelé sur la facture, à un taux égal au taux d'intérêt appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de dix (10) points, au prorata du nombre de jours de retard, le tout, sans préjudice du droit de ZENEST d'annuler la commande et/ou de suspendre l'exécution des Services jusqu'au complet paiement du Prix. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 8. MODALITÉS D'EXÉCUTION DES SERVICES</h3>
    <p>Le Service est fourni dans les locaux du CLIENT à la date et l'heure précisées sur le Devis ou dans tout autre lieu mis à la disposition du CLIENT pour l'exécution du Service ceci étant rappelé, dans le cadre d'un Abonnement, par un courriel du CLIENT adressé quatre semaines avant la date d'exécution du Service. </p>
    <p>Le CLIENT garantit que le Praticien aura accès à des locaux appropriés pour l'exécution du Service et suffisamment sécurisés.</p>
    <p>Le CLIENT ayant sélectionné le Service de massage reconnaît que le terme massage désigne un soin de bien-être et de relaxation et ne correspond pas à la définition juridique de l'Article R4321-3 du Code de la santé publique. Par conséquent, le massage n'a aucun objectif thérapeutique et/ou médical.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 9. GARANTIES ET RESPONSABILITÉS DES PARTIES </h3>
    <p>Le CLIENT déclare et garantit que les Bénéficiaires des Services ont expressément consenti à bénéficier des Services et disposent de la condition physique requise pouvant être justifiée sur demande par une attestation médicale. </p>
    <p>Le CLIENT déclare et garantit par ailleurs mettre à la disposition des Bénéficiaires des Services la Charte Zenest annexée aux présentes et reconnaît qu'en cas de dommage, de quelque nature que ce soit, y compris physique ou matériel subi par un Praticien du fait d'un Bénéficiaire, la responsabilité du CLIENT est susceptible d'être engagée sans qu'aucune limitation du droit à réparation ne soit applicable pour les cas de dommages corporels. </p>
    <p>Le CLIENT garantit enfin la sécurité des locaux dans lesquels seront exécutés les Services.</p>
    <p>ZENEST est garant de la bonne exécution des Services. Dans ce cadre, ZENEST fait appel à des Praticiens indépendants avec lesquels elle a conclu un contrat de prestation de services encadrant leurs missions. La responsabilité de ZENEST ne pourra, par conséquent, être engagée pour tout dommage résultant d'une faute ou d'un acte du Praticien. Le CLIENT aura dans ce cas la faculté d'engager la responsabilité du Praticien qui dispose d'une assurance couvrant sa responsabilité professionnelle. </p>
    <p>En tout état de cause, ZENEST est exonérée de tout ou partie de sa responsabilité si elle démontre que l'inexécution ou la mauvaise exécution du Service est imputable soit au CLIENT ou à ses Bénéficiaires soit au fait imprévisible et insurmontable d'un tiers étranger à la fourniture du Service prévu au contrat, ou à un cas de force majeure, c'est-à-dire un événement imprévisible, irrésistible et extérieur ou encore à une faute du praticien.</p>
    <p>Le droit à réparation, à l'exclusion des dommages corporels, sera limité, toutes causes confondues au montant du Prix des Services.</p>
    <p>De convention expresse, n'est pas un préjudice indemnisable tout préjudice indirect, en particulier tout préjudice financier ou commercial, résultant d'une perte de clientèle, perte ou corruption de données, perte d'exploitation, perte de production, manque à gagner, perte de profit, perte de contrat, ou perte d'image.</p>
    <p>Les Parties reconnaissent expressément que cette limitation de responsabilité, négociée entre elles, et acceptée par ces dernières, constitue une répartition équilibrée des risques.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 10.  TERME DE L'ABONNEMENT</h3>
    <p>La souscription d'un Abonnement est conclue pour une durée déterminée par les Parties sur le Devis à l'expiration de laquelle le CLIENT a la faculté de se désengager par voie de notification écrite adressée à ZENEST dans un délai d'un (1) mois avant l'expiration du terme. En l'absence d'une telle notification, l'Abonnement sera tacitement reconduit pour la même durée que la durée initiale convenue entre les Parties. </p>
    <p>Chacune des Parties pourra, néanmoins, résilier de plein droit l'Abonnement trente (30) jours après réception par la Partie défaillante d'une mise en demeure, restée sans effet, par lettre recommandée avec accusé de réception, mentionnant l'intention de faire application de la présente clause, sans préjudice de tous dommages et intérêts qui pourront être réclamés à la Partie défaillante pour les motifs suivants : violation d'une obligation substantielle, violation répétée et multiple d'une obligation non-essentielle, exercice d'activités dissimulées, frauduleuses ou illégales, violation des lois et règlements applicables ou des droits des tiers. </p>
    <p>En cas de défaut de paiement répété et par exception à ce qui précède, l'Abonnement pourra être résilié de plein droit par ZENEST, quarante-huit (48) heures après une mise en demeure restée infructueuse, sans préjudice de tout autre dommage et intérêts susceptibles d'être demandé par ZENEST. La résiliation frappera non seulement toutes les prestations de Services en cours mais, aussi, toutes les prestations de Services impayées antérieures que le Service ait été ou non exécuté et que son paiement soit échu ou non. </p>
    <p>En cas de demande de résiliation par le CLIENT, celle-ci sera recevable sous réserve du paiement total de toutes les factures émises, à condition que ces factures n'aient pas été contestées dans le délai indiqué à l'article 7. En tout état de cause, les sommes éventuellement réglées par le CLIENT resteront acquises à ZENEST sans préjudice de tous dommages et intérêts auxquels ZENEST pourrait prétendre. </p>
    <p>Toutes les clauses et dispositions des Conditions Générales expressément mentionnées comme telles demeurent en vigueur après la résiliation de l'Abonnement. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 11.  PROPRIÉTÉ INTELLECTUELLE </h3>
    <p>La Marque et chacun des éléments qui la composent, qu'ils soient visuels ou sonores sont protégés au titre de la propriété intellectuelle et sont la propriété exclusive de ZENEST. </p>
    <p>Toute reproduction ou représentation totale ou partielle de la Marque et/ou des éléments qui la composent, par quelque procédé que ce soit et quel qu'en soit le support, sans l'autorisation expresse et préalable de ZENEST est interdite et constituerait une contrefaçon sanctionnée par les dispositions du Code de la propriété intellectuelle. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 12.  CONFIDENTIALITÉ</h3>
    <p>Les Parties s'engagent à ce que les Informations Confidentielles transmises dans le cadre des présentes soient maintenues strictement confidentielles et soient conservées et protégées dans les mêmes conditions que ses propres informations confidentielles et ne soient pas utilisées ou copiées, directement ou indirectement, en tout ou partie, pour d'autres besoins, à d'autres fins ou dans un autre cadre que l'exécution des Services, ne soient ni divulguées ni susceptibles d'être divulguées, directement ou indirectement, en tout ou partie, à tout tiers,  autres que ses salariés et les Praticiens ayant à en connaître et à les utiliser pour les besoins, aux fins et dans le cadre de l'exécution des Services, sous réserve qu'ils aient eu connaissance de leur caractère confidentiel et qu'ils soient tenus aux mêmes obligations de confidentialité.</p>
    <p>Cette obligation de confidentialité ne s'étend pas aux informations qui sont ou tomberaient dans le domaine public en l'absence de toute faute imputable à la Partie récipiendaire, qui sont en possession de la Partie récipiendaire préalablement à leur communication sans avoir été obtenues directement ou indirectement de l'autre Partie et sans qu'aucune obligation de confidentialité n'ait été violée ni qu'aucune autre faute n'ait été commise par la Partie récipiendaire ou par un tiers, qui sont formalisées ou développées indépendamment par la Partie récipiendaire, dont la divulgation est requise aux termes d'une disposition législative, réglementaire ou d'une décision de justice.</p>
    <p>Cette obligation de confidentialité prend effet à la date de confirmation de la Commande et se poursuivra, le cas échéant, pendant toute la durée de souscription de l'Abonnement et subsistera pendant une durée de trois (3) ans suivant le terme ou la résiliation de l'Abonnement.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 13.  REFÉRENCES</h3>
    <p>Sauf convention contraire entre les Parties, le CLIENT reconnaît que ZENEST est pleinement autorisée à citer son nom et son logo en tant que référence commerciale sur tout document promotionnel de ZENEST.</p>
    <p>Sauf convention contraire entre les Parties, le CLIENT reconnaît encore que ZENEST est pleinement autorisée à diffuser des photographies des séances de massage, de gestion du stress, de yoga, de sophrologie, de méditation en pleine conscience ou de Do In se déroulant chez le CLIENT et s'engage à faire signer aux Bénéficiaires des Services une demande d'autorisation de diffusion de leur photographie qui sera remise au Praticien le jour de la séance. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 14.  ASSURANCE</h3>
    <p>ZENEST déclare avoir souscrit à une police d'assurance MMA garantissant sa responsabilité civile professionnelle pour toutes les activités et obligations découlant des présentes et à la maintenir pendant toute la durée des présentes et en apporter la preuve sur demande du CLIENT. </p>
  </section>
  <section>
    <h3 class="ml-5">Article 15.  NON-SOLLICITATION DES PRATICIENS</h3>
    <p>Le CLIENT s'interdit d'engager ou de faire travailler, directement ou indirectement, tout Praticien auquel ZENEST fait appel, pendant toute l'exécution des présentes et pendant douze (12) mois à compter de son achèvement même si la sollicitation vient dudit Praticien sauf accord préalable écrit des Parties. </p>
    <p>En cas de non-respect de cette clause, les Parties reconnaissent que ZENEST pourra prétendre à une indemnité compensatrice représentant cinq (5) fois le prix convenu du Service, objet de la commande trente (30) jours après avoir une mise en demeure du CLIENT de respecter son obligation qui serait restée sans effet.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 16.  DISPOSITIONS PARTICULIÈRES </h3>
    <p>La nullité de l'une des clauses des Conditions Générales en application notamment d'une loi, d'un règlement ou à la suite d'une décision d'une juridiction compétente passée en force de chose jugée n'entraînera pas la nullité des autres clauses des présentes qui garderont leur plein effet et portée entre les Parties.</p>
    <p>Le fait que ZENEST ne se prévale pas à un moment donné de l'une quelconque des clauses des Conditions Générales, et/ou d'un manquement par le CLIENT à l'une quelconque de ses obligations contractuelles ne peut être interprété comme valant renonciation par ZENEST à se prévaloir ultérieurement de l'une quelconque desdites clauses ou obligations contractuelles.</p>
    <p>Les notifications prévues en exécution des présentes devront être effectuées aux adresses où les parties déclarent élire domicile en leur siège social respectif.</p>
    <p>Aucune disposition des présentes ne sera réputée avoir été écartée, complétée ou modifiée par l'une des Parties sans un acte préalable, écrit et signé par les représentants légaux de ZENEST et du CLIENT, ou leurs mandataires autorisés qui prendra la forme de Conditions Particulières aux présentes, portant expressément décision d'écarter l'application d'une clause contractuelle, de la compléter ou de la modifier. </p>
    <p>La nullité de l'une quelconque des dispositions des présentes n'emportera pas la nullité de l'ensemble des Conditions Générales. </p>
    <p>En conséquence, aucune Condition Particulière ne peut, sauf acceptation formelle et écrite de ZENEST, prévaloir contre les Conditions Générales. Toute condition contraire opposée par le CLIENT sera donc, à défaut d'acceptation expresse, inopposable à ZENEST, quel que soit le moment où elle aura pu être portée à sa connaissance.</p>
    <p>ZENEST se réserve le droit de modifier les Conditions Générales à tout moment. Les conditions applicables seront, dans ce cas, celles en vigueur à la date de souscription de l'Abonnement par le CLIENT.</p>
    <p>Le fait que ZENEST ne se prévale pas, à un moment donné, des Conditions Générales ne pourra être interprété comme valant renonciation par cette dernière à se prévaloir ultérieurement de l'une quelconque desdites conditions.</p>
  </section>
  <section>
    <h3 class="ml-5">Article 17.  LOI APPLICABLE ET JURIDICTION COMPÉTENTE </h3>
    <p>Les Conditions Générales sont intégralement soumises à la loi française. En cas de litige survenant à l'occasion de l'interprétation ou de l'exécution des présentes, les Parties s'efforceront de le régler à l'amiable préalablement à toute action en justice. En cas de désaccord persistant sur l'interprétation ou de l'exécution des Conditions Générales, compétence exclusive est attribuée aux Tribunaux du ressort de ZENEST, nonobstant pluralité de défendeurs ou appel en garantie, même pour les procédures d'urgence ou les procédures conservatoires en référé ou par requête.</p>
  </section>
</div>
