<% content_for(:robots) do %>
  <meta name="robots" content='noindex, nofollow'>
<% end %>
<% content_for :meta_title, "Zenest.pro - Charte de Confidentialité" %>

<%#= render 'shared/banner_half_screen' , title: "Charte de Confidentialité ZENEST" %>
<%= render 'shared/banner_transition_blue' , title:"", title_span: "Charte de Confidentialité ZENEST", text: "au 15 mars 2016" %>

<div class="container mt-4 text-justify quicksandlight">
  <section>
    <h3 class="ml-5">PRÉAMBULE</h3>
    <p>Notre Charte de protection de la confidentialité (l a « Charte ») fixe la manière dont nous traitons l'information que nous recueillons à votre sujet quand vous consultez notre Site internet www.zenest.com (le « Site internet ») ainsi que la manière dont vous pouvez contrôler l’utilisation et la divulgation de vos Données à caractère personnel.</p>
    <p>ZENEST attache ainsi une haute importance à la protection de votre vie privée et de vos Données à caractère personnel dans la manière dont nous créons, organisons et mettons en œuvre nos services ZENEST. Afin de maintenir une protection maximale quant aux données à caractère personnel que nous traitons, nous nous conformerons aux principes établis par  :</p>
    <ul>
      <li>la recommandation du Conseil de l’OCDE concernant les lignes directrices régissant la protection de la vie privée et les flux transfrontières de données à caractère personnel,</li>
      <li>la directive Européenne 95/46/CE du 24 octobre 1995 sur la protection des données à caractère personnel,</li>
      <li>la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004 (la « Loi informatique et libertés »).</li>
    </ul>
    <p>Vous êtes invité à lire attentivement notre Charte. Cette Charte ne s’applique qu’aux données recueillies directement sur le Site internet et non pas aux données recueillies par le biais de tout autre site Internet vers lequel vous pourriez être redirigé et par lequel vos Données auraient été communiquées à ZENEST.  </p>
  </section>

  <section>
    <h3 class="ml-5">DÉFINITIONS</h3>
    <p>« Compte personnel » désigne le compte de l’Utilisateur lui permettant d’accéder aux services de la plateforme ZENEST.</p>
    <p>« Cookie(s) » désigne un fichier texte au format alphanumérique susceptible d'être déposé et enregistré dans un espace dédié du disque dur de votre terminal (ie : Ordinateur, tablette, smartphone, etc.) grâce au logiciel de navigation que vous utilisez pour consulter notre Site internet et qui pourra être lu par nous lors de votre visite ultérieure du Site internet.</p>
    <p>« Données à caractère personnel » désigne toute information relative à une personne identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres.</p>
    <p>« Données sensibles » désigne toutes les données relatives aux origines raciales ou ethniques, opinions philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé des personnes.</p>
    <p>« ZENEST » désigne la société par actions simplifiée ZENEST au capital de 2.000 euros  inscrite au registre du Commerce et des Sociétés de Paris sous le numéro 812 309 573 et dont le siège social est établi 5, rue de Bassano 75116 Paris qui édite et gère la Plateforme internet « ZENEST ».</p>
    <p>« Plateforme ZENEST » désigne la plateforme internet ZENEST développée et éditée par ZENEST accessible à tout Utilisateur et sur lesquelles sont proposées les Services ZENEST.</p>
    <p>« Services ZENEST » désigne les services proposés par ZENEST aux Utilisateurs à savoir : i) la réservation de massage en ligne « on demand », ii) la mise en relation entre offre et demande et, iii) l’évaluation des Praticiens.</p>
    <p>« Site internet » désigne le site internet www.zenest.com sur lequel est éditée la Plateforme ZENEST.</p>
    <p>« Utilisateur(s) » désigne toute personne majeure inscrite sur la Plateforme ZENEST utilisant les Services ZENEST.</p>
  </section>

  <section>
    <h3 class="ml-5">GESTION DE VOS DONNÉES</h3>
    <h4 class="ml-5">Collecte et traitement des données à caractère personnel</h4>
    <p>Par l’intermédiaire de notre Site internet, nous sommes amenés à collecter des données à caractère personnel (les « Données ») vous concernant que vous nous avez notamment communiquées lors de : i) votre inscription et la création de votre Compte personnel sur la Plateforme ZENEST, ii) lors de vos envois de courriers électroniques à ZENEST, iii) lors de vos réservations et mise en relation avec un Praticien iv) lors de l’évaluation dudit Praticien. </p>
    <p>Dans ce cadre, ZENEST collecte notamment les données suivantes :</p>
    <ul>
      <li>vos coordonnées : nom, prénom, adresse électronique ;</li>
      <li>vos identifiants : nom d’utilisateur, mot de passe ;</li>
      <li>toute autre information nécessaire à ZENEST aux fins de vous permettre de procéder à la réservation en ligne de la Prestation de massage à la demande à l’exclusion de toute données sensibles au sens de la réglementation précitée.</li>
    </ul>
    <p>Ces données sont collectées et traitées afin de :</p>
    <ul>
      <li>valider votre inscription et créer votre Compte personnel ;</li>
      <li>vous permettre d’utiliser les Services ZENEST proposés sur le Site internet ;</li>
      <li>mesurer l’audience du Site internet et effectuer des analyses statistiques pour nous permettre de mieux comprendre l’utilisation du Site internet par les Utilisateurs ;</li>
      <li>vous envoyer des courriels d’information ;</li>
      <li>faire application de la législation, de la réglementation en vigueur : sur requête des autorités, ZENEST pourra ainsi utiliser et divulguer les données collectées pour empêcher, détecter, enquêter sur toutes activités poten tiellement interdites ou illégales.</li>
      <li></li>
    </ul>
    <h4 class="ml-5">Déclaration à la Commission nationale de l’informatique et des libertés</h4>
    <p>Nos traitements automatisés de données à caractère personnel ont fait l'objet d'une déclaration auprès de la Commission nationale de l’informatique et des libertés sous le numéro n°1939809 conformément à l’article 22 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004.</p>
  </section>

  <section>
    <h3 class="ml-5">VOS DROITS</h3>
    <p>Vous disposez d’un droit d’accès et de rectification de vos Données conformément aux dispositions des articles 39 et 40 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004.</p>
    <p>Pour exercer ses droits, vous pouvez nous adresser un courrier postal à l’adresse suivante : ZENEST 5, rue de Bassano 75116 Paris.</p>
    <p>A ce titre, nous vous demanderons de nous de fournir une preuve de votre identité et de préciser l’adresse à laquelle doit vous parvenir la réponse. Si vous n'êtes pas en mesure de prouver votre identité, l’équipe ZENEST se réservera le droit de refuser de répondre à votre demande.</p>
    <p>Nous nous efforçons de répondre à ces demandes dans des délais raisonnables.</p>
    <p>Vous disposez également d’un droit d’opposition au traitement de vos Données conformément à l’article 38 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004 que vous pouvez exercer en adressant un courrier postal à l’adresse susvisée en indiquant les motifs légitimes à cette opposition. Vous disposez, par ailleurs, d’un droit d’opposition concernant le traitement de vos Données à des fins de prospection commerciale, sans motif légitime, que vous pouvez exercer selon les modalités susvisées.</p>
    <p>Nous vous répondrons dans un délai de deux mois à compter de la reception de votre courrier.</p>
  </section>

  <section>
    <h3 class="ml-5">DONNÉES SENSIBLES</h3>
    <p>Nous ne collectons pas de Données sensibles dont la collecte est en principe soumise au consentement de la personne concernée.</p>
    <p>Nonobstant ce qui précède, dans le cadre de l’utilisation des Services ZENEST, vous êtes responsable de toute communication volontaires de vos Données sensibles qui n’ait en aucun requise par ZENEST.</p>
  </section>

  <section>
    <h3 class="ml-5">DONNÉES DE TRAFIC</h3>
    <p>Nous conservons vos Données de trafic et notamment vos identifiants de connexions aux fins de nous conformer à nos obligations légales conformément au décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données permettant d’identifier toute personne ayant contribué à la création d’un contenu mis en ligne. Vos Données de trafic sont conservées pendant une période d’un an à compter du jour de la création de votre Contenu avant d’être effacées.</p>
    <p>Ces données seront par ailleurs utilisées pour mesurer l’audience de fréquentation du Site internet et l’améliorer pour le rendre plus performant et plus en adéquation avec vos attentes.</p>
  </section>

  <section>
    <h3 class="ml-5">COOKIES</h3>
    <h4 class="ml-5">Fonction des Cookies</h4>
    <p>ZENEST utilisent des Cookies sur le Site internet afin de permettre ou de faciliter la communication de vos Données par voie electronique, votre navigation sur notre Site internet et notamment votre communication avec nous ou encore de réaliser des mesures d’audience et/ou des statistiques de fréquentation destinés à l’usage exclusif de ZENEST et afficher de la publicité ciblant vos attentes.</p>
    <p>Ces Cookies ont ainsi et notamment pour finalité de vous permettre de naviguer sur le Site internet et de nous permettre en retour d’améliorer les Services ZENEST et de mesurer l’audience du Site internet.</p>
    <h4 class="ml-5">Acceptation des Cookies</h4>
    <p>La consultation de notre Site internet est soumise à l’acceptation des Cookies par l’intermédiaire d’un bandeau prévu à cet effet.</p>
    <p>Nous vous informons que vous pouvez vous opposer à l'enregistrement de Cookies sur votre terminal en configurant votre navigateur afin que celui-ci refuse certains Cookies ou interdise tout dépôt de Cookies. Pour connaître la démarche à suivre selon le navigateur que vous utilisez, veuillez consulter la rubrique d’aide de celui-ci.</p>
    <p>Toutefois, si vous choisissez de vous opposer à l’ensemble des Cookies, votre navigation sur le Site internet sera réduite et l’accès à certaines fonctionnalités sera limité.</p>
    <h4 class="ml-5">Cookies émis par des applications tierces intégrées à notre Site internet</h4>
    <p>Vous avez la possibilité de relier votre Compte personnel « ZENEST » à votre compte « Facebook » afin de vous incrire sur le site ZENEST.</p>
    <p>En effectuant cette opération, vous permettez à Facebook d’avoir connaissance de votre connexion à la Plateforme ZENEST lorsque vous vous connectez à ladite plateforme. En vertu de la politique de confidentialité de Facebook, ces informations de connexion sont utilisées « pour personnaliser votre expérience de navigation sur Facebook, maintenir et améliorer la qualité de [leur] service, et protéger Facebook et ses utilisateurs de toute activité frauduleuse ».</p>
    <p>En tout état de cause, nous n'avons aucun contrôle sur le processus employé par Facebook et tout autre réseau social pour collecter des informations relatives à votre navigation sur notre Site internet et les associer aux données à caractère personnel dont ils disposent. Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance des finalités d'utilisation, notamment publicitaires et des informations de navigation qu'ils peuvent recueillir.</p>
  </section>

  <section>
    <h3 class="ml-5">CONSERVATION DES DONNÉES</h3>
    <p>Les données à caractère personnel que vous avez renseignées dans le cadre de l’utilisation des Services ZENEST sont conservées par nos soins pendant toute la durée de votre inscription aux Services ZENEST pour les besoins de l’utilisation dudit service. A compter de la clôture de votre Compte personnel, les données sont supprimées par ZENEST ou anonymisées à des fins d’analyse et de statistique.</p>
    <p>Nous conservons, toutefois, les données à caractère personnel relative à vos coordonnées nous permettant de gérer notre relation commerciale avec vous sont conservées pendant un délai de trois (3) ans à compter de votre commande des Services ZENEST.</p>
  </section>

  <section>
    <h3 class="ml-5">DESTINATAIRES DES DONNÉES</h3>
    <p>Les données à caractère personnel vous concernant que nous collectons et que nous traitons sont transmises à notre prestataire technique, société américaine, dont les serveurs sont situés sur le territoire français tenue aux mêmes obligations de sécurité et de confidentialité que nous.</p>
    <p>Nous sommes, également, susceptibles de communiquer vos Données à caractère personnel à nos prestataires pour exécuter des services relatifs au Site internet en relation notamment avec la maintenance et aux analyses. Ces prestataires n’auront accès à vos Données que pour exécuter ces services et seront tenus aux mêmes obligations de sécurité et de confidentialité que celles auxquelles nous sommes tenues à votre égard.</p>
    <p>Nous pourrons également transmettre vos Données à caractère personnel (coordonnées) à des destinataires qui seront susceptibles d’utiliser vos Données afin de vous contacter pour des finalités commerciales. En tout état de cause, vous disposez d’un droit d’opposition à l’utilisation par ces tiers de vos Données à des fins commerciales.</p>
    <p>Hormis les cas susmentionnés, nous ne pourrons partager et communiquer vos Données à d’autres prestataires et à d’autres fins qu’après avoir obtenu votre consentement.</p>
  </section>
  <section>
    <h3 class="ml-5">SÉCURITÉ</h3>
    <p>Conformément à l’article 34 de la Loi Informatique et libertés, nous sommes tenus de prendre toutes les précautions utiles pour préserver la sécurité des données et empêcher notamment qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p>
    <p>Notre préoccupation est de préserver la qualité et l'intégrité de vos Données à caractère personnel. A ce titre et conformément aux recommandations de la CNIL, nous vous assurerons que les serveurs hébergeant vos Données sont uniquement utilisés pour héberger vos Données et non pour d’autres fins. Nous nous assurerons par ailleurs que notre prestataire a mis en œuvre des mesures et/ou installer des dispositifs pour se prémunir des attaques par injection de code SQL, scripts… afin de nous prémunir contre tout accès non autorisé, toute utilisation impropre, toute altération, toute destruction malveillante ou accidentelle et toute perte involontaire de données.</p>
    <p>Nous nous engageons à maintenir vos Données à caractère personnel confidentielles et à ne les partager que dans les circonstances susvisées. A ce titre, nous garantissons que vos Données à caractère personnel ne soient pas communiquées à des institutions ou à des autorités gouvernementales, hormis dans les cas prévus par les dispositions de la la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004 et à des fins notamment de répondre aux poursuites judiciaires de toute nature, aux ordonnances des tribunaux, à toute procédures juridiques ou mesures d’application de la loi réclamées par les autorités compétentes.</p>
  </section>
  <section>
    <h3 class="ml-5">NOTIFICATION DES CHANGEMENTS</h3>
    <p>La création de nouveaux services sur notre Site internet peut impliquer la modification de notre Charte que nous notifierons dans cette rubrique.</p>
    <p>Dans ce cas, la date de mise à jour de la Charte sera actualisée et indiquera le jour où les modifications ont été effectuées.</p>
    <p>Nous nous engageons également à déclarer à la Commission nationale de l’informatique et libertés toute modification susceptible d’être réalisée.</p>
  </section>
</div>
