<% content_for :meta_title, "Zenest.pro - Mentions Legales" %>
<% content_for(:robots) do %>
  <meta name="robots" content='noindex, nofollow'>
<% end %>
<%#= render 'shared/banner_half_screen' , title: "Mentions Légales" %>
<%= render 'shared/banner_transition_blue' , title:"", title_span: "Mentions Légales", text: "zenest.pro" %>
<div class="container mt-4 text-justify quicksandlight">
  <section>
    <h3 class="ml-5">EDITEUR DU SITE INTERNET</h3>
    <p>Le site internet « ZENEST » accessible à l’adresse URL www.zenest.pro (le «  Site Internet  ») est édité par la société ZENEST, société par actions simplifiée au capital de 2.000  euros   inscrite au registre du Commerce et des Sociétés de Paris sous le numéro 812 309 573   et dont le siège social est établi au 5, rue de Bassano 75116 Paris et représentée par son représentant légal Monsieur Etienne Perrin.</p>
    <p>Contact : contact@zenest.com</p>
  </section>
  <section>
    <h3 class="ml-5">HÉBERGEMENT DU SITE INTERNET</h3>

    <p>Le site internet ZENEST est hébergé par la société Heroku Inc, située au 650 7th Street San Francisco, CA 94103.</p>
    <p>Contact : <a href="http://www.heroku.com/contact">http://www.heroku.com/contact</a>, +1 (866) 278-1349</p>
    <p>La société Heroku disposant de Data Centers hautement sécurisés situés en Europe sur lesquels sont hébergées les données des utilisateurs de ZENEST est tenue au respect de la réglementation française et européenne relatives aux données à caractère personnel.</p>
  </section>
  <section>
    <h3 class="ml-5">DIRECTEUR DE PUBLICATION</h3>
    <p>Le directeur de la publication du Site internet « ZENEST » est Monsieur Etienne Perrin .</p>
  </section>
  <section>
    <h3 class="ml-5">DÉCLARATION À LA COMMISSION NATIONALE INFORMATIQUE ET LIBERTÉS</h3>
    <p>Les traitements automatisés de données à caractère personnel ont fait l’objet d’une déclaration auprès de la Commission nationale de l’informatique et des libertés sous le numéro 1939809 conformément à l’article 22 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée en 2004.</p>
  </section>

  <section>
    <h3 class="ml-5">DESIGN</h3>
    <p>Le design de la Plateforme ZENEST.pro est l’œuvre de Enzo Pascual et Mihivai.</p>
  </section>
</div>
