<p>Bonjour <%= @user.first_name %>,</p>

<p>Le calendrier pour vos prochaines prestations : <%= @calendar.name %> est disponible.</p>
<p>Vos collaborateurs peuvent désormais réserver leurs séances sur ce planning.</p>

<p>Belle journée,</p>
<p>Cordialement,</p>
<p>La Zenesteam</p>
